* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*
************* DEKORATIONER **************
*/
h2 {
  font-family: var(--secondary-font);
  letter-spacing: 5px;
  margin: 50px auto;
  font-size: var(--font-xl);
  text-align: center;
  color: var(--secondary-cl);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.item h3,
p {
  gap: 10px;
}

.item img {
  width: 100%;
  height: auto;
}
