* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******* TOP LOGO ************/
.toplogo {
  display: flex;
  justify-content: space-around;
  width: 73%;
  margin: 0 auto;
  padding-top: 1%;
}
.skatkammer,
.cp {
  font-family: var(--primary-font);
  color: var(--secondary-cl);
  font-size: var(--font-xl);
  font-weight: lighter;
  letter-spacing: 5px;
  margin-block: 5.6% 0;

  text-align: center;
}
.hus_img {
  background-color: var(--primary-cl);
  width: 13%;
  padding-bottom: 1%;
}

/******* Baggrunde ************/

body {
  background-color: var(--primary-cl);
}

main {
  background-image: url("../img/blomstret_tapet_x.webp");
  z-index: -100;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}

/******* video ************/
.forsidevideo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/******* Kontakt box ************/
.kontakt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  opacity: 1;
  margin-top: 15%;
  gap: 20%;
  margin-left: 10%;
}

.kontakt_tekst {
  grid-column: 1;

  background-color: #fffcf2;
  border: 1px solid #e7e9d9;
  font-family: var(--primary-font);
  padding: 6%;
  width: 130%;
}

.kontakt_info {
  grid-column: 2;

  width: 335px;

  border: 1px solid #cccebf;
}

.kontak_tekst_headline {
  font-family: var(--primary-font);
  color: var(--secondary-cl);
  font-size: var(--font-lg);
  align-content: center;
  text-align: center;
  margin-bottom: 2%;
}

.kontaktinfo_tekst {
  font-family: var(--primary-font);
  color: var(--secondary-cl);
  font-size: var(--font-lg);
  align-content: center;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 2%;
}

.styled_li {
  font-family: var(--primary-font);
  color: var(--secondary-cl);
  font-size: var(--font-sm);

  list-style: none;
  line-height: 1.6;
  text-align: center;
  font-weight: 300;
}

/******* Rullende text ************/

.rullende_forside_tekst {
  width: 100%;
  overflow: hidden;
  position: relative;
  letter-spacing: 5.6px;
  z-index: 100;
  opacity: 1;
  margin-top: 15%;
  margin-bottom: 10%;
}

.rullende_text {
  white-space: nowrap;
  animation: scroll 60s linear infinite; /* Juster varighed og timing efter dine behov */

  left: -100%; /* Start fra højre side af containeren */
  opacity: 1;
  color: var(--secondary-cl);
  font-family: var(--secondary-font);
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (min-width: 800px) {
  .rullende_forside_tekst {
    max-width: 1900px;
    width: 100%;
  }
}

/******* Forside billede galleri ************/

.forsideknapper {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding-bottom: 100px;
  place-items: center;
  z-index: 100;
  opacity: 1;
}

.netbutik {
  display: grid;
  grid-column: 4 / span 4;
  grid-row: 1 / span 4;
  width: 247px;
  height: 360px;
  padding: 20px;
  opacity: 1;
}

.nyheder {
  display: grid;
  grid-column: 13 / span 4;
  grid-row: 5 / span 6;
  width: 247px;
  height: 360px;
  padding: 20px;
  opacity: 1;
}

.omskatkammeret {
  display: grid;
  grid-column: 23 / span 4;
  grid-row: 3 / span 4;
  width: 247px;
  height: 360px;
  padding: 20px;
  opacity: 1;
}
.blabla {
  display: grid;
  grid-column: 5 / span 4;
  grid-row: 6 / span 4;
  width: 247px;
  height: 360px;
  padding: 20px;
  opacity: 1;
}

.pil {
  width: 32%;
  padding-top: 3%;
}

/******* newspaper ************/

/* Define a container for the grid */
.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr; /* Two equal columns */
  background-color: #f0ecdc;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Style for the newspaper sign-up box */
.signup-box {
  background-color: #f0ecdc;
  grid-column: 2;
}

/* Style for the Instagram feed box */
.instagram-feed {
  display: grid;

  grid-template-columns: repeat(3, 1fr); /* Three columns for the feed */
  gap: 10px; /* Gap between the images */
  width: 70%;
}

/* Style for the Instagram images */
.instagram-img {
  width: 100%;
  height: auto;
}
