* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*
************* DEKORATIONER **************
*/
body {
  background-color: var(--primary-cl);
}

/* main {
  max-height: 93vh;
} */

.push {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1%;
  padding: 0 0 0 8%;
}

h2 {
  letter-spacing: 3px;
  font-size: var(--font-xl);
}

/* h2 {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 3px;
  font-size: var(--font-xl);
  color: var(--secondary-cl);
} */

h3 {
  font-family: var(--primary-font);
  font-size: 30px;
  color: var(--secondary-cl);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 20px 0;
  font-weight: 400;
}

.tilbage a:link {
  font-size: 20px;
  margin-top: 2%;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 20%;
  gap: 3%;
}

.billede {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.info {
  text-align: center;
  margin-bottom: 5%;
  border: solid var(--secondary-cl) 1px;
  padding: 3%;

  width: 100%;
  max-height: 504.4px;
}

.info p {
  font-size: var(--font-lg);
  line-height: 110%;
}

.info a {
  padding: 10px;
  background-color: var(--secondary-cl);
  color: var(--primary-cl);
}

.pris p {
  margin: 20px 30px;
  font-weight: bold;
  text-align: left;
}

.txt1 p {
  max-width: 25vw;
  margin: 0 auto;
  margin-bottom: 9%;
}

.txt2,
.txt3 {
  margin-top: 9%;
  text-align: left;
  margin-inline: 30px;
}

.txt2 p {
  margin-top: 50px;
  padding: 1%;
}

.txt3 p {
  border-top: 1px solid var(--secondary-cl);
  padding: 3%;
}

@media (max-width: 800px) {
  .skatkammer {
    font-size: 1rem;
    margin-bottom: 5%;
  }

  .cp {
    font-size: 1rem;
    display: none;
  }

  .hus_img {
    display: none;
  }
  .tilbage a:link {
    position: relative;
    margin: 0 30px 0 0;
    font-size: 30px;
  }

  .tilbage {
    text-align: right;
  }

  .grid_1_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .billede {
    width: 90%;
    height: 100%;
    margin-bottom: 5%;
  }

  .info {
    text-align: center;
    border: solid var(--secondary-cl) 1px;
    margin-bottom: 10%;
    padding: 2%;
    width: 128%;
    max-width: 500px;
    height: auto;
  }

  /* 


.info p {
  font-size: var(--font-lg);
  line-height: 110%;
}

.info a {
  padding: 10px;
  background-color: var(--secondary-cl);
  color: var(--primary-cl);
} */

  h3 {
    font-family: var(--primary-font);
    font-size: larger;
    color: var(--secondary-cl);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-weight: 400;
  }

  .pris p {
    margin: 10px 20px;
    font-weight: bold;
    text-align: left;
    font-size: smaller;
  }

  .txt1 p {
    max-width: 70vw;
    margin: 0 auto;
    margin-bottom: 5.5%;
    font-size: medium;
  }

  .txt2 p {
    margin-top: 10px;
    padding: 0.1%;
    font-size: medium;
  }

  .txt3 p {
    border-top: 1px solid var(--secondary-cl);
    padding: 1.5%;
    font-size: medium;
  }
}
