* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* fonts */
/* font-family: 'Staatliches', sans-serif; */
@font-face {
  font-family: "staatlichesregular";
  src: url("../fonts/Staatliches/staatliches-regular-webfont.woff2") format("woff2"), url("../fonts/Staatliches/staatliches-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 
************** Globalt **************
*/
body {
  background-color: var(--primary-cl);
}

h1 {
  font-family: var(--primary-font);
  letter-spacing: 5px;
  margin: 50px auto;
  font-size: var(--font-xl);
  text-align: center;
  color: var(--secondary-cl);
}

@media (min-width: 789px) {
  .grid1_2 {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    align-items: center;
  }

  .kasse {
    position: relative;
    border: solid var(--secondary-cl) 2px;
    padding: 10px;
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 0 101px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kasse h2 {
    font-family: var(--secondary-font);
    letter-spacing: 5px;
    margin: 15px;
    font-size: 2cqw;
    text-align: center;
    color: var(--secondary-cl);
  }

  .kasse p {
    font-family: var(--primary-font);
    max-width: 22vw;
    font-size: 1cqw;
    color: var(--secondary-cl);
    margin-bottom: 10px;
  }

  .kasse img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .grid1_2 {
    display: block;
    margin: 20px 100px;
  }

  .kasse {
    border: solid var(--secondary-cl) 2px;
    padding: 10px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kasse h2 {
    font-family: var(--secondary-font);
    letter-spacing: 5px;
    margin: 15px;
    font-size: 4cqw;
    color: var(--secondary-cl);
  }

  .kasse p {
    font-family: var(--primary-font);
    max-width: 45vw;
    color: var(--secondary-cl);
    margin-bottom: 10px;
  }

  .kasse img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
  }
}
