* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-cl);
}

p {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  letter-spacing: 2.5px;
  line-height: 30px;
  color: #861919;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 800px) {
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-bottom: 40px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-bottom: 40px;
  }

  .grid_1_tekst {
    border: solid #852a2a 1px;
  }

  .grid_2_tekst {
    border: solid #852a2a 1px;
  }

  .grid_1_billede {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
  }

  .grid_2_billede {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
  }
}

p {
  padding: 5%;
}

h2 {
  padding-left: 5%;
}

.kontakt {
  font-size: 0.8rem;
  color: #852a2a;
}

.sitenavn2 a {
  text-decoration: none;
  color: #852a2a;
  font-size: 0.8rem;
}

.sociale_medier {
  width: 90px;
  height: 49px;
}

/* fonts */
/* font-family: 'Staatliches', sans-serif; */
@font-face {
  font-family: "staatlichesregular";
  src: url("../fonts/Staatliches/staatliches-regular-webfont.woff2") format("woff2"), url("../fonts/Staatliches/staatliches-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
