* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fffcf2;
}

.kasse-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 85px 85px 85px 85px;
}

.kasse-2 h2 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.kasse-2 {
  border: 0.5px solid;
  border-color: #861919;
}
